.signature-field {
    border: 2px solid #000; /* Border style */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* You can adjust the height as needed */
  }
  
  .signature-canvas {
    border: 1px solid #ccc; /* Additional border for the canvas */
    width: 100%;
    max-width: 800px; /* Set a maximum width if you want to limit the canvas size */
    height: 100%;
  }